__pycache__/
*.py[cod]
*$py.class
*.so
.Python

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

*.egg
*.egg-info/
.installed.cfg
pip-log.txt
pip-delete-this-directory.txt

.env
.env.local
.secret.local

.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
htmlcov/
.coverage
.coverage.*
coverage.xml
nosetests.xml

firebase-debug.log*
*.sqlite3

.vscode/*
.idea/
.DS_Store
